*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

nav {
    background: #0babf5;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-content{
    display: flex;
}
footer {
    background: #1ea8e9;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-left {
    background: #0a9ee2;
    height: 70vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    background: #0987c2;
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-right {
    background: #076e9e;
    width: 20%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

